server:
  port: 8080
  servlet:
    context-path: /api

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/mydatabase}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

app:
  cors:
    allowed-origins: ${SPRING_CORS_ALLOWED_ORIGINS:http://localhost:8081}

jwt:
  signerKey: ${SPRING_JWT_SIGNER_KEY:default-signing-key}

ai:
  agent:
    url: ${SPRING_AI_AGENT_URL:http://localhost:5000/generate}